<%= render "header" %>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% if user_signed_in? %>
  <% if current_user.id == @article.user_id %>
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning" %></li>
    <%= link_to "Delete", article_path(@article), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      },
                      class: "btn btn-danger" %>
  <% end %>
<% end %>


<h3>Comments</h2>
<%= render @article.comments %>

<% if user_signed_in? %> 
  <h5>Add a comment:</h2>
  <%= render 'comments/form' %>
<% else %>
  <p>If you want to comment, please <%= link_to "sign in", new_user_session_path %> into your account.</p>
<% end %>

<%= link_to "Back", articles_path, class: "btn btn-dark" %>

<%= render "footer" %>
